<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>admin</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="../js/login_register_page.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../css/chat_page_style.css" />
  </head>
  <body>
    <div
      id="confirm_dialog"
      class="relative visible z-50"
      aria-labelledby="modal-title"
      role="dialog"
      aria-modal="true"
    >
      <!--
          Background backdrop, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100"
            To: "opacity-0"
        -->
      <div
        id="confirm_back"
        class="ease-out duration-300 opacity-100 fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      ></div>

      <div class="fixed inset-0 w-screen overflow-y-auto">
        <div
          class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
        >
          <!--
              Modal panel, show/hide based on modal state.

              Entering: "ease-out duration-300"
                From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                To: "opacity-100 translate-y-0 sm:scale-100"
              Leaving: "ease-in duration-200"
                From: "opacity-100 translate-y-0 sm:scale-100"
                To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            -->
          <div
            id="confirm_panel"
            class="ease-out duration-300 opacity-100 translate-y-4 sm:translate-y-0 sm:scale-95 relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-7xl sm:p-6"
          >
            <div class="sm:flex sm:items-start">
              <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                <h3
                  class="mt-8 text-5xl font-semibold leading-10 text-gray-900"
                  id="modal-title"
                >
                  Confirmation
                </h3>
                <div class="mt-8">
                  <p class="text-5xl text-gray-500 leading-tight">
                    You are now inactive set by an admin.
                    <br />
                  </p>
                </div>
              </div>
            </div>
            <div class="mt-8 sm:mt-8 sm:flex sm:flex-row-reverse">
              <button
                id="confirm"
                type="button"
                onclick="window.location.href='./register_page.html';"
                class="inline-flex w-full justify-center rounded-md bg-red-300 px-6 py-4 text-4xl font-semibold text-white shadow-sm hover:bg-red-200 sm:ml-3 sm:w-auto"
              >
                confirm
              </button>

              <!-- <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-6 py-4 text-4xl font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
